body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 0;
  height: 50px;
  width: 50px;
}

.drawnedSquare {
  background: #000;
  border: 1px solid #fff;
  text-decoration-color: #222;
  border: none;
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 0;
  height: 50px;
  width: 50px;
}

.inSquarePosition {
  text-align: center;
  font-size: 10px;
  position: relative;
  z-index:1;
  top: -3px;
  left: 3px;
}

.inSquareText {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  z-index:2;
  position: relative;
  top: -8px;
  left: 16px;
}

.inSquareLittleText {
  display: inline-block;
  text-align: center;
  font-size: 9px;
  z-index:3;
  position: relative;
  line-height: 9px;
  top: -16px;
}

.playerPawn {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  z-index:10;
  text-shadow: 1px 1px 3px #333333;
}

.singlePP {
  top: -52px;
}

.twoPP {
  top: -35px;
}

.multilinePP {
  line-height: 19px;
  top: -40px;
}

.emptySquare {
  background: #fff;
  border: 1px solid #fff;
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 0;
  height: 50px;
  width: 50px;
}

.playerBoard-column {
    float: left;
    width: 330px;
}

.board-column {
    float: left;
    margin-left: 10px;
}

.playerBoard {
  background: #fff;
  border: 4px solid;
  float: left;
  line-height: 24px;
  margin-right: 2px;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 10;
  height: 100px;
  width: 300px;
  box-shadow: 1px 1px 3px #333333;
}

.inBoardName {
  color: #000;
  font-size: 24px;
}

.inBoardRole {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #333333;
  margin-left: 10px;
  margin-top: 10px;
}

.inBoardCards {
  font-size: 12px;
  margin-left: 10px;
}

.boardPlayerCards {
  margin-left: 5px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
